*, *::before, *::after {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
    background:#00761f;
}
  
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 3px solid #00761f;
    border-radius: 20px;
    margin: 3px;
}
  
.calculator-grid > button:hover {
    background-color: #a9a9a9;
}
.span-two {
    background-color: #ff9904;
}
.output{
    flex-wrap: wrap;
    grid-column: 1 / -1;
    background-color: #b9d093;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 7px;
    word-break: break-all;
    border: 6px solid #00761f;
    border-radius: 20px;
}
.output .previous-operand{
    color: black;
    font-size: 2.5rem;
}
.output .current-operand{
    color: black;
    font-size: 2.5rem;
}